.name-icon {
    color: #FFFFBB;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 0 5px #000;
}
